/* ==========================================================================
   FREQUENTLY ASKED QUESTIONS
   ========================================================================== */
.faq-accordion {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  background: #fff;
  margin-bottom: 15px;
  border-radius: var(--radius-sm);
  padding: 20px;
  box-shadow: var(--shadow-sm);
}